.nav { 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    transition: all 0.2s cubic-bezier(0,.82,.64,.98);
    max-height: 60px;
}
.navButtonHighlight {
    background: black;
}
.hide {
    transform: translate(0, -80px);
    transition: all 0.2s cubic-bezier(.64,0,.8,.48);
}

.flex-nav {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    box-shadow: rgba(0,0,0, 0.25) 0 0 12px;
    max-height: 65px;
    overflow: hidden;
}

.logo {
    width: 250px;
    height: 60px;
    background: url("../../img/localIcon/potcomm.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    margin-left: 2em;
}
.flex-nav-buttons {
    display: flex;
    padding-right: 2em;
    font-family: IBM Plex Mono;
    height: 60px;
}
.navLink {
    display: flex;
    justify-content: center;
    height: 100%;
}
#navButton {
    font-size: 1.2em;
    color: black;
    transition: all 0.2s cubic-bezier(.44,0,.25,.99);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background: rgba(0,0,0,0);
    padding: 0 1em;
}
.aButtonIsActive {
    color: rgba(0, 0, 0, 0.438);
    transform: scale(0.9);
}
#navButton:hover {
    color: white;
    z-index: 4;
    background: black;
}

#navButton.stay {
    transition: 0.2s cubic-bezier(0,1.08,1,1);
    z-index: 4;
    background: black;
    color: white;
}
.connect {
    cursor: pointer;;
}
.dialogueFrame {
    position: absolute;
    position: sticky;
    top: 0;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    transition: all 0.2s;
    visibility: collapse;
    opacity: 0;
}
.show {
    visibility: visible;
    opacity: 1;
}
.connectCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    transition: all 0.2s cubic-bezier(0,.82,.64,.98);
}
.connectTitle {
    color: white;
    font-family: 'IBM Plex Mono', sans-serif;
}
.connectCont:hover {
    transform: scale(1.1);
}
.twitter {
    position: relative;
    width: 100px;
    height: 100px;
    background: url(../../img/localIcon/twitter.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.deviantart {
    position: relative;
    width: 100px;
    height: 100px;
    background: url(../../img/localIcon/deviantart.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.treshold {
    visibility: collapse;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
}
.tresholdEnabled {
    visibility: visible;
}


@media screen and (max-width:800px) {
    .logo {
        width: 100px;
        background: url('../../img/localIcon/Potblack.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:500px) {
    .flex-nav {
        display: flex;
        justify-content: center;
    }
    .logo {
        width: 0;
        visibility: hidden;
        position: absolute;
    }
    .flex-nav-buttons {
        transform: translate(16px,0);
    }
    .moveLogo {
        visibility: visible;
        height: 80px;
        position: relative;
        background: url('../../img/localIcon/Potblack.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .welcome {
        margin-top: 0;
    }
}