body {
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
    max-width: 100%;
}
a, a:visited {
    text-decoration: none;
}
.nav { 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    transition: all 0.2s cubic-bezier(0,.82,.64,.98);
}
.hide {
    transform: translate(0, -80px);
    transition: all 0.2s cubic-bezier(.64,0,.8,.48);
}

.flex-nav {
    width: 100%;
    height: 65px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    box-shadow: rgba(0,0,0, 0.25) 0 0 12px;
}

.logo {
    width: 250px;
    height: 60px;
    background: url("../../img/localIcon/potcomm.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    margin-left: 2em;
}
.flex-nav-buttons {
    display: flex;
    padding-right: 2em;
    font-family: IBM Plex Mono;
}
.navLink {
    margin: 0 1em;
    display: flex;
    justify-content: center;
}
#navButton {
    font-size: 1.2em;
    color: black;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    border: rgba(0, 0, 0, 0) solid 1px;
}
#navButton::before {
    content:'';
    width: 100px;
    height: 30px;
    transition: all 0.4s;
    background: rgb(0, 0, 0);
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}
#navButton:hover::before {
    transition: 0.2s cubic-bezier(0,1.08,1,1);
    visibility: visible;
    opacity: 1;
    transform: translate(8px,8px);
}
#navButton:hover {
    transition: 0.2s cubic-bezier(0,1.08,1,1);
    color: white;
    border: black solid 2px;
}

@media screen and (max-width:800px) {
    .logo {
        width: 100px;
        background: url('../../img/localIcon/Potblack.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:500px) {
    .flex-nav {
        display: flex;
        justify-content: center;
    }
    .logo {
        width: 0;
        visibility: hidden;
        position: absolute;
    }
    .flex-nav-buttons {
        transform: translate(16px,0);
    }
    .moveLogo {
        visibility: visible;
        height: 80px;
        position: relative;
        background: url('../../img/localIcon/Potblack.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .welcome {
        margin-top: 0;
    }
}