.nav { 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.863);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.2s cubic-bezier(0,.82,.64,.98);
    max-height: 60px;
}

.hide {
    transform: translate(0, -80px);
    transition: all 0.2s cubic-bezier(.64,0,.8,.48);
}

.flex-nav {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0em;
    box-shadow: rgba(0,0,0, 0.25) 0 0 12px;
    max-height: 65px;
    overflow: hidden;
}

.logo {
    width: 250px;
    height: 60px;
    background: url("../../img/localIcon/potcomm.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    margin-left: 2em;
}
/* .flex-nav-buttons {
    display: flex;
    padding-right: 2em;
    font-family: IBM Plex Mono;
    height: 60px;
}
.navLink {
    display: flex;
    justify-content: center;
    height: 100%;
}

.dialogueFrame {
    position: absolute;
    position: sticky;
    top: 0;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    transition: all 0.2s;
    visibility: collapse;
    opacity: 0;
}
.show {
    visibility: visible;
    opacity: 1;
}
.connectCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    transition: all 0.2s cubic-bezier(0,.82,.64,.98);
}
.connectTitle {
    color: white;
    font-family: 'IBM Plex Mono', sans-serif;
}
.connectCont:hover {
    transform: scale(1.1);
}
.twitter {
    position: relative;
    width: 100px;
    height: 100px;
    background: url(../../img/localIcon/twitter.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.deviantart {
    position: relative;
    width: 100px;
    height: 100px;
    background: url(../../img/localIcon/deviantart.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */
.treshold {
    visibility: collapse;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
}
.tresholdEnabled {
    visibility: visible;
}


@media screen and (max-width:800px) {
    .logo {
        width: 100px;
        background: url('../../img/localIcon/Potblack.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:500px) {
    .flex-nav {
        display: flex;
        justify-content: center;
    }
    .logo {
        width: 0;
        visibility: hidden;
        position: absolute;
    }
    .flex-nav-buttons {
        transform: translate(16px,0);
    }
    .moveLogo {
        visibility: visible;
        height: 80px;
        position: relative;
        background: url('../../img/localIcon/Potblack.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .welcome {
        margin-top: 0;
    }
}
.tosStick {
    position: sticky;
    top:60px;
    z-index: 90;
}
.tosBound {
    position: absolute;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.tosNotice {
    text-align: center;
}
.tosBar {
    padding: 0.5em 1em;
    background: rgba(255, 255, 255, 0.863);
    backdrop-filter: blur(5px);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "IBM Plex Sans", sans-serif;
    box-shadow: rgba(0,0,0,0.25) 0 2px 6px;
    transition: 0.2s all;
    z-index: 2;
    flex-wrap: wrap;
    user-select: none;
    border-radius: 5px;
}
.tosButton {
    border: solid 1px black;
    padding: 0.5rem;
    transition: all 0.2s cubic-bezier(.49,.07,.16,1);
    margin-left: 1em;
    cursor: pointer;
    border-radius: 5px;
}
.tosButton:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.tosIcon {
    font-size: 2rem;
    margin-right: 0.5em;
}
.dismiss {
    font-size: 0.75rem;
    margin-left: 1em;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ohno {
    animation: 0.4s shake ease-in-out forwards;
}

.accept {
    background: rgba(255, 255, 255, 0.863) !important;
    animation: none !important;
}
@keyframes shake {
    0% {
        transform: translate(0px, 0);
    }
    20% {
        transform: translate(15px, 0);
        background: rgb(255, 141, 141);
    }
    40% {
        transform: translate(-10px, 0);
    }
    80% {
        transform: translate(5px, 0);
    }
    100% {
        transform: translate(0px, 0);
        background: rgba(255, 255, 255, 0.863);
    }
}
.tosButtonWrap {
    position: relative;
    display: flex;
    height: 40px;
}
@media screen and (max-width:800px) {
    .tosButtonWrap {
        margin-top: 0.5em;
    }
}