body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    max-width: 100%;
    background: var(--baseD);
    -webkit-animation: welcome .8s forwards;
    animation: welcome 0.8s forwards;

    &[data-aos-easing=sleek] [data-aos] {
        transition-timing-function: var(--sleek);
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: var(--baseD);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--basesecondaryD);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--accentD);
    }

    &::-webkit-scrollbar-thumb:active {
        background: var(--accentsecondaryD);
    }
}

[data-aos][data-aos][data-aos-easing=sleek] {
    transition-timing-function: var(--sleek);
}


@font-face {
    font-family: Inter;
    src: url(../../fontlib/Inter.var.woff2) format("truetype-variations");
    font-weight: 1 1000;
}

@font-face {
    font-family: JetBrains Mono;
    src: url(../../fontlib/JetBrainsMono[wght].ttf) format("truetype-variations");
    font-weight: 1 1000;
}

:root {
    --baseD: rgb(24, 24, 24);
    --baseL: rgba(252, 242, 233, 1);

    --alphabaseD: rgba(24, 24, 24, 0);
    --alphabaseL: rgba(252, 242, 233, 0);

    --basesecondaryD: rgb(44, 44, 44);
    --basesecondaryL: rgb(224, 220, 215);

    --interactablesD: rgb(255, 255, 255);
    --interactablesD: rgb(255, 255, 255);

    --textpersistentD: rgb(255, 255, 255);
    --textpersistentL: rgb(19, 19, 19);

    --textsecondaryD: rgb(202, 202, 202);
    --textsecondaryL: rgb(40, 40, 40);

    --accentD: rgb(90, 171, 224);
    --accentL: rgb(252, 193, 125);

    --accentsecondaryD: rgb(107, 172, 214);
    --accentsecondaryL: rgb(248, 193, 129);

    --accentfillD: rgb(29, 31, 32);
    --accentfillL: rgb(255, 252, 250);

    --textaccentD: rgb(94, 186, 255);
    --textaccentL: rgb(255, 167, 94);

    --grey: rgb(99, 99, 99);
    --red: rgb(255, 92, 92);
    --redcode: rgb(255, 158, 158);
    --redcodeborder: rgb(255, 92, 92);

    --conditionalred: rgba(255, 92, 92, 0);

    --black: black;

    --blackfL: white;
    --blacktD: black;

    --white: white;

    --textfL: rgb(19, 19, 19);
    --textD: rgb(255, 255, 255);

    --texttD: rgb(255, 255, 255);
    --textL: rgb(19, 19, 19);

    --basefL: rgb(252, 242, 233);
    --basetD: rgb(24, 24, 24);
    --boxshadowD: rgba(0, 0, 0, 0) 0 0 0px;
    --boxshadowL: rgba(0, 0, 0, 0.25) 0 2px 12px;

    --invertTrue: invert(1);
    --brightnessD: brightness(.5);
    --brightnessL: brightness(1.5);
    --pulseD: brightness(5);
    --pulseL: brightness(.5);

    --loaderD: url("../../img/local/spinnerD.gif");
    --loaderL: url("../../img/local/spinnerL.gif");
    --display: Inter;
    --contentsecondary: JetBrains Mono;
    --sleek: cubic-bezier(0.03, 0.77, 0.34, 1);
    --accel: cubic-bezier(0.72, 0.06, 0.96, 0.57);
    --anchorhead: cubic-bezier(0.24, 0.01, 0.01, 1);
    --boing: cubic-bezier(.06,1.8,.47,1);
}

[data-theme=light] {
    --baseD: var(--baseL);
    --alphabaseD: var(--alphabaseL);
    --basesecondaryD: var(--basesecondaryL);
    --textD: var(--textL);
    --textsecondaryD: var(--textsecondaryL);
    --accentD: var(--accentL);
    --accentsecondaryD: var(--accentsecondaryL);
    --accentfillD: var(--accentfillL);
    --textaccentD: var(--textaccentL);
    --blackfL: var(--blacktD);
    --black: var(--white);
    --textfL: var(--texttD);
    --basefL: var(--basetD);
    --boxshadowD: var(--boxshadowL);
    --loaderD: var(--loaderL);
    --conditionalred: var(--red);
    --invertTrue: var(--invertFalse);
    --brightnessD: var(--brightnessL);
    --pulseD: var(--pulseL);
}

a {

    &:link,
    &:visited {
        text-decoration: none !important;
    }
}

code {
    font-size: .85rem
}

.material-icons-outlined {
    vertical-align: middle;
}

.tosStick {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 90;
}

.tosBound {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tosNotice {
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--textD);
}

.tosBar {
    padding: 1em 1em;
    background: var(--baseD);
    //-webkit-backdrop-filter: blur(5px);
    //backdrop-filter: blur(5px);
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--display), sans-serif;
    box-shadow: var(--blackfL) 0 10px 0px;
    transition: .2s all;
    z-index: 2;
    flex-wrap: wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 30px;
    border: 3px solid var(--blackfL);
}

.tosButton {
    border: solid 3px var(--accentD);
    color: var(--textD);
    font-weight: 800;
    padding: .5rem;
    transition: all 0.2s  var(--boing);
    margin-left: .7em;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: var(--accentD) 0 5px 0;
    transform: translateY(-5px);

    &:hover {
        box-shadow: var(--accentD) 0 10px 0;
        transform: translateY(-10px);
    }
    &:active {
        transition: all 0.1s var(--sleek);
        box-shadow: var(--accentD) 0 0px 0;
        transform: translateY(0px);
    }
}

.tosIcon {
    width: 32px;
    height: 32px;
    background: url(../../img/localIcon/typeIcons/exclamation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 0.5em;
    filter: var(--invertTrue);

    //&::before {
    //    content: '';
    //    background: var(--conditionalred);
    //    width: 32px;
    //    height: 32px;
    //    position: absolute;
    //    z-index: -1;
    //    margin-left: -1rem;
    //    border-radius: 5px;
    //}
}

.dismiss {
    font-size: .75rem;
    margin-left: 1em;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--textaccentD);

    &:hover {
        color: var(--blackfL);
    }
}

.ohno {
    -webkit-animation: .4s shake ease-in-out forwards;
    animation: 0.4s shake ease-in-out forwards;
}

.accept {
    background: rgba(255, 255, 255, 0.863) !important;
    -webkit-animation: none !important;
    animation: none !important;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(15px, 0);
        filter:var(--pulseD)
    }

    40% {
        transform: translate(-10px, 0);
    }

    80% {
        transform: translate(5px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.tosButtonWrap {
    position: relative;
    display: flex;
    height: 40px;
}

@media screen and (max-width: 800px) {
    .tosButtonWrap {
        margin-top: 0.5em;
    }
}