body {
    background: var(--base);
    animation: welcome 0.8s forwards;
}
@keyframes welcome {
  from {
        opacity: 0;
        background: rgb(0, 0, 0);
  }
  to {
        opacity: 1;
  }
}
.hello {
    position: fixed;
    width: 100%;
    z-index: -1;
}
.hellospacer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(23, 27, 28, 0) 60%, rgba(23, 27, 28));
}
.videocontainer {
    position: absolute;
    z-index: -1;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display:flex;
    align-items: center;
}
.banner {
    width: 100%;
} @media screen and (max-width: 740px) {
    .banner {
        display: none;
    }
}
.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(23, 27, 28, 0.733), rgba(23, 27, 28));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 3em;
}
.logo {
    width: 250px;
    height: 220px;
    background: url(../../img/localIcon/Potto.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1em;
}
.introduction, .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: var(--textondark)
}
.message {
    max-width: 400px;
    font-size: 2em;
    margin-top: 0;
}

.notificationbox {
    background: var(--accentfill);
    padding: 1em 2em;
    border: solid 2px var(--accentsecondary);
    border-radius: 20px;
    margin: 1em 3em;
    display: flex;
    font-family: "IBM Plex Sans", sans-serif;
} .redmsg {
    background: var(--redcode);
    border-color: var(--redcodeborder);
}
.notificationicon {
    color: var(--textaccent);
    font-size: 2rem;
    min-width: 48px;
}
.notificationtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--textaccent);
    transform: translate(0, 100px);
}
.notificationtitle.redmsg,.notificationicon.redmsg {
    color: var(--redcodetitle);
}
ol.notifcationlist {
    padding: 0 1rem;
    margin: 0;
}
.bgdropper {
    background: var(--base);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.maincontentbox {
    background: white;
    margin-top: 2em;
    border-radius: 40px 40px 0 0;
    padding: 4em 4em;
}
.col {
    color: var(--text);
    font-family: "Montserrat", sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
}
.imgbatch {
    display: inline-grid;
    grid-template-columns: auto auto;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-content: center;
}
.gridimg {
    margin: 0.5em;
    background: rgb(231, 231, 231);
    width: 145px;
    height: 145px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: .2s all cubic-bezier(.58,.01,.52,1.55);
    box-shadow: rgba(0,0,0,.25) 0 3px 6px;
} .gridimg:hover {
    transition: .2s all cubic-bezier(0,.75,.16,1);
    transform:scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.178) 0 6px 12px;
}
.imgsample{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.zoomindimmer {
    position: fixed;
    background: rgba(0, 0, 0, 0.856);
    height: 100vh;
    width: 100%;
    z-index: 1;
    backdrop-filter: grayscale(1);
    display:none;
}
.zoomin {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    
}
.zoomincontent {
    max-height: 100vh;
    max-width: 100%;
    animation: zoom .5s forwards cubic-bezier(0,.75,.16,1);
}
.zoomincontentAlign {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
}
@keyframes zoom {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.infobox {
    margin: 0 1em;
    max-width: 600px;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title {
    font-size: 2rem;
    font-weight: bold;
}
.slotDesc {
    margin-bottom: 0;
}
.sub {
    color: var(--textsecondaryonlight);
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 0.8rem;
}
.typedetail {
    margin-top: 0.5em;
    font-style: italic;
}

.purchase {
    font-weight: 500;
    padding: 0.7em 1em;
    border-radius: 40px;
    background: var(--accentimportant);
    border: 2px solid var(--accentimportant);
    color: var(--textondark);
    transition: all .14s cubic-bezier(.26,.06,0,1.01);
}.purchase:hover {
    background: var(--accentimportantinteract);
}
.inactivensfw {
    transform: translate(0, -130px);
}
.optionstitle {
    margin: 1em 0 0.5em 0;
}
.typechoice{
    display: flex;
    justify-content: flex-end;
}
.types {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2em;
    margin: 0 .5em;
    background: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    width: 110px;
    box-shadow: rgba(0,0,0,.25) 0 3px 6px;
    transition: all .2s cubic-bezier(.58,.01,.52,1.55);
    user-select: none;
} .types:hover {
    transition: .2s all cubic-bezier(0,.75,.16,1);
    transform: scale(1.05);
    border: 1px solid var(--accentsecondary);
    box-shadow: rgba(0, 0, 0, 0.178) 0 6 12px;
}
.priceType { 
    font-weight: bolder;
    font-style: normal;
    font-family: "IBM Plex Mono", sans-serif
}
.typeIcon {
    width: 38px;
    height: 38px;
}
.typeName {
    text-align: center;
}

.nsfw {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.5em;
}
.nsfwopt {
    transition: all .2s;
    opacity: 1;
    transform: translate(0,0);
    margin-bottom: 2em;
}
.hidensfw {
    opacity: 0;
    transform: translate(-50px,0px)
}
.nsfwtoggle {
    background: rgb(197, 197, 197);
    width: 40px;
    height: 20px;
    margin-top: 0.5em;
    margin-right: 1em;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,.25) 0 2px 3px;
    cursor: pointer;
    transition: all .2s;
}
.nsfwactive {
    background: var(--textaccent);
}
.switchdot {
    background: rgb(70, 70, 70);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transition: all .2s cubic-bezier(.12,.74,.19,1.33);
}
.dotactive {
    transform: translate(20px, 0);
}
.typeIcon.sketch {
    background: url('../../img/localIcon/typeIcons/sketch.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.lineart {
    background: url('../../img/localIcon/typeIcons/lineart.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.flatcolor {
    background: url('../../img/localIcon/typeIcons/flatcolor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.shaded {
    background: url('../../img/localIcon/typeIcons/shaded.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.typeIcon.bgsimple {
    background: url('../../img/localIcon/typeIcons/simple.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.default {
    background: url('../../img/localIcon/typeIcons/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.bgflatcolor {
    background: url('../../img/localIcon/typeIcons/basic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.bgfullshade {
    background: url('../../img/localIcon/typeIcons/fullshaded.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.nsfwcomm {
    background: url('../../img/localIcon/typeIcons/explicit.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.add {
    background: url('../../img/localIcon/typeIcons/addsfwnsfw.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.addnsfw {
    background: url('../../img/localIcon/typeIcons/addnsfwver.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 950px){
    .col {
        flex-direction: column;
    }
    .infobox {
        align-items: center;
        text-align: center;
    }
    .desc.sub {
        text-align: center;
    }
    .typechoice {
        justify-content: center;
        flex-wrap: wrap;
    }
    .types {
        margin: 0.5em;
    }
}
.endOfPage {
    display: flex;
    justify-content: center;
}
.end {
    width: 90%;
    margin: 4em 0 2em 0;
}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.flexbox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials {
    display: flex;
    justify-content: center;
}
.copyright {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.6rem;
    margin-bottom: 0.2em;
}
.messageend {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: italic;
    text-align: center;
}
.socicon {
    margin: 0 0.2em;
    font-size: 32px;
}
.tosPageLink {
    font-family: "Montserrat", sans-serif;
}