.bannerOpen {
    height: 400px;
    background: rgb(218, 218, 218);
    /*margin-top: 2em;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:760px) {
    .bannerOpen {
        visibility: collapse;
        height: 0;
    }
}
.notification.status,.tip {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    transition: all 0.2s;
    overflow: hidden;
}
.tip {
    animation: fade10 0.2s 10s forwards;
}
@keyframes fade10 {
    from {
        opacity: 1;
        height: 1em;
        padding: 0.5em;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: collapse;
        padding: 0;
        height: 0;
    }
}
.statusText {
    background: rgb(245, 77, 77);
    color: white;
    padding: 0.5em;
    border-radius: 10px;
}
.tipText {
    background: rgb(253, 186, 40);
    color: rgb(255, 255, 255);
    padding: 0.5em;
    border-radius: 10px;
}
.imageSwipe-Flex {
    display: flex;
    position: absolute;
    height: 400px;
    width: 100%;
}
.welcome {
    font-family: 'IBM Plex Mono', sans-serif;
    text-align: center;
    word-wrap: break-word;
}
.descWelcome {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    word-wrap: break-word;
}

.contentFlexBox {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    max-width: 100%;
}
#slotTypeBox {
    max-width: 100%;
    padding: 1em 2em;
    margin: 2em 0;
}

.slotAlignLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: right;
}
.slotAlignRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}


.sampleImage {
    min-width:380px;
    min-height: 380px;
    background: rgb(117, 117, 117);
    border-radius: 5px;
    transition: all 0.2s;
    cursor: zoom-in;
}
.imgfor-headshot {
    background: url("../../img/showcase/framebanner2_cr.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgfor-bust {
    background: url("../../img/showcase/WinterMary_rez.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgfor-fullbody {
    background: url("../../img/showcase/everylittlecompliments.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgfor-pirl {
    background: url("../../img/showcase/skywards.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.zoom {
    position: relative;
    min-width: 600px;
    min-height: 600px;
    cursor: zoom-out;
}


.slotInfo {
    margin: 0 1em;
    max-width: 50%;
}
.slotTitle {
    font-family: 'IBM Plex Mono';
}
.slotDesc {
    font-family: 'Roboto Condensed';
}
.slotPrice {
    font-family: 'IBM Plex Mono';
    font-size: 1.1rem;
}
.purchase {
    transition: all 0.2s;
}
.purchase.onL {
    border: grey solid 1px;
    color: grey;
    font-family: 'IBM Plex Sans';
    padding: 1em;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase.onR {
    border: grey solid 1px;
    color: grey;
    font-family: 'IBM Plex Sans';
    padding: 1em;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase:hover {
    border: black solid 1px;
    background: black;
    color: white;
    transform: scale(1.1);
}



.endOfPage {
    display: flex;
    justify-content: center;
}
.end {
    width: 90%;
    margin: 2em 0;
}
.smallDisclaimer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    text-align: center;
}

@media screen and (max-width:1000px) {
    .slotAlignLeft, .slotAlignRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slotInfo {
        width: 290px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .onL, .onR {
        float: none;
    }
}

@media screen and (max-width:700px) {
    .slotInfo {
        min-width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:540px) {
    .zoom {
        min-height: 340px;
        min-width: 340px;
    }
}

