body {
    animation: welcome 0.5s forwards;
}
@keyframes welcome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bannerOpen {
    height: 400px;
    background: rgb(218, 218, 218);
    /*margin-top: 2em;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:760px) {
    .bannerOpen {
        visibility: collapse;
        height: 0;
    }
}

.notification.status {
    display: flex;
    justify-content: center;
}
.notificationStatus {
    margin-top: 1em;
    font-family: "Roboto", sans-serif;
    background: rgb(255, 246, 168);
    color: rgb(41, 41, 41);
    border-radius: 10px;
    padding: 0.5em 1em;
    width: 90%;
}
.notificationTitle {
    font-weight: 700;
}
.notifcationContent {
    font-size: 0.8rem;
    padding: 0 2em;
    list-style-type: disc;
}
.imageSwipe-Flex {
    display: flex;
    position: absolute;
    height: 400px;
    width: 100%;
}
.welcome {
    font-family: 'IBM Plex Mono', sans-serif;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: -0.5em;
}
.descWelcome {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    word-wrap: break-word;
    color: rgb(100, 100, 100);
}

.contentFlexBox {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    max-width: 100%;
}
#slotTypeBox {
    max-width: 100%;
    padding: 1em 2em;
    margin: 2em 0;
}


.slotAlignLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: right;
}
/* .slotAlignRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
 */

.sampleImage {
    min-width:380px;
    min-height: 380px;
    background: rgb(117, 117, 117);
    border-radius: 5px;
    transition: all 0.2s;
    cursor: zoom-in;
}
.imgfor-sketch {
    background: url("../../img/showcase/sketch.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgfor-lineart {
    background: url("../../img/showcase/lineart.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgfor-headshot {
    background: url("../../img/showcase/portrait.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgfor-fullbody {
    background: url("../../img/showcase/fullbody.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.zoom {
    position: relative;
    min-width: 600px;
    min-height: 600px;
    cursor: zoom-out;
}

.typesFlex {
    margin: 1em 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.types {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
    height: 60px;
    margin: 0.4em; 
    font-family: 'IBM Plex Sans';
    font-size: 0.8rem;
    font-style: italic;
    color: #787878ff;
    user-select: none;
    transition: all 0.2s;
    border: solid 1px #787878ff;
    border-radius: 5px;
    padding: 0.2em;
}
.types:hover {
    color: rgb(0, 0, 0);
    border: solid 1px black;
    transform: translate(0,-4px);
}
.purchaseHover {
    border-right: solid 10px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.priceType { 
    font-weight: bolder;
    font-style: normal;
}
.typeIcon {
    width: 28px;
    height: 28px;
}
.typeIcon.sketch {
    background: url('../../img/localIcon/typeIcons/sketch.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.lineart {
    background: url('../../img/localIcon/typeIcons/lineart.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.flatcolor {
    background: url('../../img/localIcon/typeIcons/flatcolor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.shaded {
    background: url('../../img/localIcon/typeIcons/shaded.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.typeIcon.bg {
    background: url('../../img/localIcon/typeIcons/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slotInfo {
    margin: 0 1em;
    max-width: 50%;
}
.slotTitle {
    font-family: 'IBM Plex Mono';
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.slotDesc {
    font-family: 'Roboto Condensed';
    margin-bottom: 0;
}
.sub {
    color: #787878ff;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 0.8rem;
}
.purchase {
    transition: all 0.2s;
    user-select: none;
}

.purchase.onL {
    color: rgb(0, 0, 0);
    background: white;
    font-family: 'IBM Plex Sans';
    padding: 0.8em;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.192) 0 4px 6px;
}
/* .purchase.onR {
    border: grey solid 1px;
    color: grey;
    font-family: 'IBM Plex Sans';
    padding: 1em;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.purchaseIcon {
    margin-left: 0rem;
    width: 0;
    opacity: 0;
    transition: width 0.2s 0.1s, opacity 0.2s, margin 0.2s;
}
.purchase:hover {
    background: rgb(53,53,53);
    color: white;
    /* transform: translate(0, 2px); */
    box-shadow: rgba(0, 0, 0, 0.301) 0 2px 3px;
}
.purchase:hover .purchaseIcon {
    transition: width 0.2s, opacity 0.2s 0.1s, margin 0.2s;
    margin-left: 0.3rem;
    width: 24px;
    opacity: 1;
}
.purchase:active {
    background: rgb(204, 204, 204);
    color: rgb(255, 255, 255);
    transform: translate(0, 4px);
}

.bestSellingBox {
    overflow: hidden;
    width: 32px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: rgba(0,0,0,0);
    transition: width 0.2s 0.1s, background 0.2s, margin 0.2s 0.2s, padding 0.2s;
    height: 30px;
    border-radius: 10px;
    user-select: none;
}
.bestSellingPrompt {
    white-space: nowrap;
    font-size: 0.9rem;
    font-family: "IBM Plex Sans", sans-serif;
    color: white;
}
.bestSellingIcon {
    color: rgb(255, 208, 0);
    margin-right: 0.3rem;
    font-size: 32px;
    transition: font-size 0.5s, color 0.2s, transform 0.8s;
}
.bestSellingBox:hover {
    background: rgb(255, 208, 0);
    width: 120px;
    transition: width 0.2s, background 0.2s;
    margin-right: 0.3em;
    padding-left: 0.3em;
}
.bestSellingBox:hover .bestSellingIcon {
    color: white;
    font-size: 24px;
    transform: rotate(-360deg);
}

.endOfPage {
    display: flex;
    justify-content: center;
}
.end {
    width: 90%;
    margin: 2em 0;
}
/* .smallDisclaimer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
    text-align: center;
    flex-direction: column;
} */
.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.socials {
    display: flex;
    justify-content: center;
    
}
.flexbox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.twitter {
    position: relative;
    font-size: 24px;
    color: #363636ff;
    margin-right: 0.5em;

}
.deviantart {
    position: relative;
    font-size: 24px;
    color: #363636ff;
}
.copyright {
    color: #363636ff;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.6rem;
    margin-bottom: 0.2em;
}
.tosPageLink {
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: underline !important;
    font-size: 0.8rem;
}
/* .tagList {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.tagList.tlr {
    justify-content: flex-end;
}
.tag {
    margin: 0 0.5em 0.5em 0;
    padding: 0.1em 0.3em;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 0.8rem;
    border-radius: 0.2em;
    font-weight: bolder;
    background: rgb(48, 48, 48);
    color: white;
}
.tag.tr {
    margin: 0 0 0.5em 0.5em;
} */

@media screen and (max-width:700px) {
    .slotInfo {
        min-width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (max-width:380px) {
    .sampleImage {
        min-height: 340px;
        min-width: 340px;
    }
}

@media screen and (max-width:540px) {
    .zoom {
        min-height: 340px;
        min-width: 340px;
    }
}

@media screen and (max-width:1000px) {
    .slotAlignLeft, .slotAlignRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slotInfo {
        width: 290px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .typesFlex {
        justify-content: center;
    }
    .types {
        justify-content: center;
    }
    .types:hover {
        color: rgb(0, 0, 0);
    }
    .purchaseHover {
        border-right: none;
        border-bottom: solid 10px rgb(0, 0, 0);
        color: rgb(0, 0, 0);
    }
    .onL, .onR {
        float: none;
    }
    /* .tagList, .tagList.tlr {
        justify-content: center;
    }
    .tag, .tag.tr {
        margin: 0.5em;
    } */
}
